In [ ]:
#Import Library

In [2]:
import pandas as pd

In [ ]:
#Load the dataset

In [3]:
df = pd.read_csv("olympic_results.csv")

In [ ]:
#Overview of data

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162804 entries, 0 to 162803
Data columns (total 15 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   discipline_title       162804 non-null  object
 1   event_title            162804 non-null  object
 2   slug_game              162804 non-null  object
 3   participant_type       162804 non-null  object
 4   medal_type             20206 non-null   object
 5   athletes               7976 non-null    object
 6   rank_equal             32526 non-null   object
 7   rank_position          158926 non-null  object
 8   country_name           162804 non-null  object
 9   country_code           157768 non-null  object
 10  country_3_letter_code  162804 non-null  object
 11  athlete_url            129991 non-null  object
 12  athlete_full_name      141646 non-null  object
 13  value_unit             78646 non-null   object
 14  value_type             90049 non-null   object
dtypes: object(15)
memory usage: 18.6+ MB
None

In [5]:
print(df.head())

  discipline_title    event_title     slug_game participant_type medal_type  \
0          Curling  Mixed Doubles  beijing-2022         GameTeam       GOLD
1          Curling  Mixed Doubles  beijing-2022         GameTeam     SILVER
2          Curling  Mixed Doubles  beijing-2022         GameTeam     BRONZE
3          Curling  Mixed Doubles  beijing-2022         GameTeam        NaN
4          Curling  Mixed Doubles  beijing-2022         GameTeam        NaN

                                            athletes rank_equal rank_position  \
0  [('Stefania CONSTANTINI', 'https://olympics.co...      False             1
1  [('Kristin SKASLIEN', 'https://olympics.com/en...      False             2
2  [('Almida DE VAL', 'https://olympics.com/en/at...      False             3
3  [('Jennifer DODDS', 'https://olympics.com/en/a...      False             4
4  [('Rachel HOMAN', 'https://olympics.com/en/ath...      False             5

    country_name country_code country_3_letter_code athlete_url  \
0          Italy           IT                   ITA         NaN
1         Norway           NO                   NOR         NaN
2         Sweden           SE                   SWE         NaN
3  Great Britain           GB                   GBR         NaN
4         Canada           CA                   CAN         NaN

  athlete_full_name value_unit value_type
0               NaN        NaN        NaN
1               NaN        NaN        NaN
2               NaN        NaN        NaN
3               NaN        NaN        NaN
4               NaN        NaN        NaN

In [ ]:
#Checking missing value

In [6]:
print(df.isnull().sum())

discipline_title              0
event_title                   0
slug_game                     0
participant_type              0
medal_type               142598
athletes                 154828
rank_equal               130278
rank_position              3878
country_name                  0
country_code               5036
country_3_letter_code         0
athlete_url               32813
athlete_full_name         21158
value_unit                84158
value_type                72755
dtype: int64

In [ ]:
#Based on the overview of data, we can gain two insight on how to handle the data here:
#1. We've found that athlete_full_name have a lot of null values. Since we will use this data, we will look further into this column

In [ ]:
#1. Check athlete_full_name column type

In [7]:
null_athlete = df[df['athlete_full_name'].isnull()]

In [8]:
display(null_athlete)

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162759,Figure skating,Ice dancing mixed,innsbruck-1976,GameTeam,NaN,"[('Judi GENOVESI', 'https://olympics.com/en/at...",NaN,15,United States of America,US,USA,NaN,NaN,5×15+,RANK
162760,Figure skating,Ice dancing mixed,innsbruck-1976,GameTeam,NaN,"[('Stefania BERTELE', 'https://olympics.com/en...",NaN,16,Italy,IT,ITA,NaN,NaN,8×16+,RANK
162761,Figure skating,Ice dancing mixed,innsbruck-1976,GameTeam,NaN,"[('Susan KELLEY', 'https://olympics.com/en/ath...",NaN,17,United States of America,US,USA,NaN,NaN,9×17+,RANK
162762,Figure skating,Ice dancing mixed,innsbruck-1976,GameTeam,NaN,"[('Susanne HANDSCHMANN', 'https://olympics.com...",NaN,DNF,Austria,AT,AUT,NaN,NaN,NaN,IRM
162803,Gymnastics Artistic,"26th Federal Festival, Society and Association...",paris-1900,GameTeam,NaN,NaN,NaN,1,France,FR,FRA,NaN,NaN,142 pts,POINTS

In [9]:
#We see that NaN values mostly are team sport competition. So we will ignore NaN value in athlete_full_name column for now.

unique_event = null_athlete['event_title'].unique()

In [11]:
display(df)

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162799,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,https://olympics.com/en/athletes/franciszek-bujak,Franciszek BUJAK,NaN,IRM
162800,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,NaN,Henryk Mückenbrunn,NaN,IRM
162801,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Czechoslovakia,CSHH,TCH,NaN,Milda Prokopec,NaN,IRM
162802,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,United States of America,US,USA,NaN,Sigurd Overby,NaN,IRM
162803,Gymnastics Artistic,"26th Federal Festival, Society and Association...",paris-1900,GameTeam,NaN,NaN,NaN,1,France,FR,FRA,NaN,NaN,142 pts,POINTS

In [90]:
#Now we have a column which count number of athletes in a column, to know how many athletes is represented in a team game
#Now let's drop column that we didn't need
#Based on the objectives of the analysis, we only need 7 column, and the analysis focus will be only for Indonesia, which is; 

#competition = from discipline_title
#event from = from event_title
#edition = from slug_game
#participant_type = from participant_type
#medal = from medal_type
#athletes = from athelete_full_name
#country = from country_name, filter = Indonesia
#no of athletes = from counting number of athletes

#we will rename the column as mentioned above, with each column represent:

#competition = sport names/category for the competition
#event = type/category of competition (individual, team, etc.)
#edition = edition of olympic games, identified by the host city and the year in which the event took place
#participant_type = classification or category involved in a competition
#medal = medals awarded to athletes for a specific competition.
#athletes = name of the athletes
#country = country of the athletes that being represented.

In [12]:
#dropping columns

df = df.drop(columns=['rank_equal','athletes','rank_position','country_code','country_3_letter_code','athlete_url','value_unit','value_type'])

In [16]:
display(df)

,discipline_title,event_title,slug_game,participant_type,medal_type,country_name,athlete_full_name
3809,Shooting,50m Rifle 3 Positions women,tokyo-2020,Athlete,NaN,Indonesia,Vidya Rafika Rahmatan TOYYIBA
3994,Shooting,10m Air Rifle women,tokyo-2020,Athlete,NaN,Indonesia,Vidya Rafika Rahmatan TOYYIBA
6576,Badminton,Men's Doubles,tokyo-2020,GameTeam,NaN,Indonesia,NaN
6579,Badminton,Men's Doubles,tokyo-2020,GameTeam,NaN,Indonesia,NaN
6589,Badminton,Women's Doubles,tokyo-2020,GameTeam,GOLD,Indonesia,NaN
...,...,...,...,...,...,...,...
130947,Weightlifting,56 - 60kg (featherweight) men,melbourne-1956,Athlete,NaN,Indonesia,Kim Leng Liem
131078,Shooting,25m rapid fire pistol 60 shots men,melbourne-1956,Athlete,NaN,Indonesia,Lukman SAKETI
132134,Football,football men,melbourne-1956,GameTeam,NaN,Indonesia,NaN
133847,Athletics,high jump men,helsinki-1952,Athlete,NaN,Indonesia,Maram SUDARMODJO
134280,Weightlifting,60 - 67.5kg (lightweight) men,helsinki-1952,Athlete,NaN,Indonesia,Ging-Hwie THIO

In [15]:
#Filter all except Indonesia

df = df[df['country_name'] == 'Indonesia']

In [ ]:
#Now the data has been cleaned and ready to be visualized.